<html data-ng-app="slider">

    <head>
        <link rel="stylesheet" href="../lib/swiper/src/idangerous.swiper.css">

        <style>
            body {
                margin: 0px;
            }

            .swiper-wrapper {
                display: flex;
                display: -webkit-flex;
                width: 100%;
                height: 100%;
                background-color: #e3e3e3;
                font-size: 100px;
                text-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
            }
        </style>
    </head>

    <body data-ng-controller="sliderController">

        <div dynamic-slider>
            <div class="swiper-slide" data-ng-repeat="page in pages" data-ng-bind="page.content" data-ng-style="{ background_color: page.color }">
            </div>
        </div>

        <script defer src="../lib/swiper/src/idangerous.swiper.js"></script>
        <script src="../lib/angular/angular.min.js"></script>
        <script src="../src/dynamicSlider.js"></script>
        <script src="slider.js"></script>

    </body>

</html>