<html data-ng-app="swipe-menu">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="cleartype" content="on">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">
        
        <link href="../lib/normalize.css/normalize.css" rel="stylesheet" type="text/css">
        <link href="css.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <menu id="menu">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
            </ul>
            <div style="background-color:gray;width:50%;height:50px;">
                Metade do menu
            </div>
        </menu>
        <section class="swipe" data-swipe-menu="menu" data-menu-return="30">
            <div class="content">
                <p>Swipe Me >></p>
            </div>
        </section>

        <script type="text/javascript" src="../lib/angular/angular.js"></script>
        <script type="text/javascript" src="../src/swipe-menu.js"></script>
    </body>
</html>